.container {
    position: relative;
    width: 300px;
    height: 200px;
    border: 2px solid black;
}

.box1 {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 120px;
    height: 80px;
    background-color: red;
}

.box2 {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 120px;
    height: 80px;
    background-color: blue;
}
