.parent {
    width: 300px;
    height: 200px;
    border: 2px solid black;
}

.child {
    position: relative;
    top: 30px;
    left: 40px;
    border: 2px solid red;
    padding: 10px;
}
